<ion-view hide-nav-bar='true'>
  <ion-content>
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <div class="header"><img src="../img/logo Thumbnail.png">
      <ion-icon class="ion-navicon-round menuicon" ng-mouseover="showMenu=true" ></ion-icon>
      <ul class="menuul" ng-if="showMenu">
        <li class="ion-log-out" ng-click="logout()">&nbsp;&nbsp;Logout</li>
        <li class="ion-ios-home-outline" ng-click="home()">&nbsp;&nbsp;Front-End</li>
      </ul>
    </div>
    <div class="row" style="height:100vh" ng-click="showMenu = false">
      <div class="col col-20 marginleft background" style="background-color:rgb(47, 64, 80)">
        <ul>
          <li ng-click="exp()" class="borderadmin new"><img class="menuimg" src="/img/add-cart.png">Add Shop</li>
          <li ng-click="exp1()" class="borderadmin new"><img class="menuimg" src="/img/addtype.png">Add Type</li>
          <li ng-click="exp2()" class="borderadmin new"><img class="menuimg" src="/img/2.png">Add Feedback</li>
          <li ng-click="exp3()" class="borderadmin new"><img class="menuimg" src="/img/View-questions.png">View Questions</li>
          <li ng-click="exp4()" class="borderadmin new"><img class="menuimg" src="/img/viewcart.png">View Shop</li>
          <li ng-click="exp5()" class="borderadmin new"><img class="menuimg" src="/img/3.png">Walkin Feedback</li>
          <li ng-click="exp6()" class="borderadmin new"><img class="menuimg" src="/img/feedback.png"></span>Materilized Feedback</li>
          <li ng-click="exp7()" class="borderadmin new"><img class="menuimg" src="/img/1.png">Walk-in Negatives Feedback</li>
          <li ng-click="exp8()" class="borderadmin new"><img class="menuimg" src="/img/Negative Feedback.png">Materialised Negatives Feedback</li>
        </ul>
      </div>
      <div class="col col-70 backgroundright">
        <div style="width:60%;    margin-left: 15%;
    margin-top: 5%;background: white" class="borderright" ng-show="expression">
          <div>
            <h3 class="headername headerform">Add Shop</h3></div>
          <form ng-submit="adminshop(data)">
            <div class="">
              <span class="item-input item-floating-label">
                <span class="input-label">Image</span>
              <div class="row">
                <div class="col-50">
                  <input type="file" ngf-select ng-model="data.image" accept="image/*" ngf-max-size="2MB">
                  </span>
                </div>
                <div class="col-50">
                  <img ngf-src="data.image" ngf-accept="'image/*'" width="150px" ; height="100px;"></div>
              </div>
              <label class="item-input item-floating-label ">
                <span class="input-label">Shop Name</span>
                <input class="borderbottom" type="text" style="padding-left: 10px;" placeholder="Shop Name" ng-model="data.shopname">
              </label>
              <label class="item-input item-floating-label">
                <span class="input-label">Description</span>
                <input class="borderbottom" type="text" style="padding-left: 10px;" placeholder="Description" ng-model="data.Description">
              </label>
              <label>
                <button class="buttonColor shopbutton"> Submit</button>
              </label>
            </div>
          </form>
        </div>
        <div style="width:60%;  margin-left: 15%;
    margin-top: 5%;background: white" class="borderright" ng-show="expression1">
          <div>
            <h3 class="headername headerform">Add Shop Type</h3></div>&nbsp;
          <form ng-submit="admintype(data,selectedName)">
            <div class="list marginright">
              <div class="list">
                <div class="row bottm">
                  <div class="">
                  </div>
                  <div class="col-80">
                    <select class="item item-input heightadminlabel" ng-model="selectedName" ng-options="item.shopname for item in shopdatatype">
                      <!-- shopdata get data from sqlite -->
                      <!--  <select class="item item-input heightadminlabel" ng-model="selectedName" ng-options="item.shopname for item in shopdata"> -->
                      <option value="">Select Shop</option>
                    </select>
                  </div>
                </div>
              </div>
              <label class="item-input item-floating-label" style="    width: 111%;
    margin-left: -11px;">
                <span class="input-label">Type</span>
                <input class="borderbottom" style="    padding-left: 10px;" type="text" placeholder="Type" ng-model="data.type">
              </label>
              <label>
                <button class="buttonColor shopbutton"> Submit</button>
              </label>
            </div>
          </form>
        </div>
        <div class="borderright" style="width: 70%;
                margin: auto; margin-top: 5%;background: white" ng-show="expression2">
          <div>
            <h3 class="headername headerform">Add Feedback Questions</h3></div>
          <form name="feeds" style="margin-left: 24px;">
            <div class="list">
              <div class="row bottm">
                <div class="col-60">
                  <select class="item item-input heightadminlabel" ng-change="typevalue(selectedName)" data-ng-model="selectedName" data-ng-options="item.shopname for item in shopdatatype">
                    <!-- shopdata from sqlite -->
                    <!--    <select class="item item-input heightadminlabel" ng-change="typevalue(selectedName)" ng-model="selectedName" ng-options="item.shopname for item in shopdata" > -->
                    <option value="" style="display: none;">Select Shop</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="list">
              <div class="row bottm">
                <div class="">
                </div>
                <div class="col-60">
                  <select class="item item-input heightadminlabel" ng-model="selectedtype" ng-options="item for item in optionstype">
                    <option value="">Select Shop Type</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="list">
              <div class="row bottm">
                <div class="">
                </div>
                <div class="col-60">
                  <select class="item item-input heightadminlabel" ng-change="chage(selection)" ng-model="selection" ng-options="choice for choice in choices">
                    <option value="">Select Question</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="list">
              <div class="row bottm">
                <div class="">
                </div>
                <div class="col-60" ng-if="selection == 'Input'">
                  <select class="item item-input heightadminlabel" ng-model="priority" ng-options="priority for priority in Priority" ng-disabled="selection == 'Input'">
                    <!-- ng-disabled="selection == 'Input'" -->
                  </select>
                </div>
                <div class="col-60" ng-if="selection == 'Choice'">
                  <select class="item item-input heightadminlabel" ng-model="priority" ng-options="priority for priority in Priority">
                    <!-- ng-disabled="selection == 'Input'" -->
                    <option value="">isNegative</option>
                  </select>
                </div>
                <div class="col-60" ng-hide="hidedata">
                  <select class="item item-input heightadminlabel" ng-model="priority1" ng-options="priority for priority in Priority">
                    <!-- ng-disabled="selection == 'Input'" -->
                    <option value="">isNegative</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="" ng-show="qun">
              <div class="row" style="margin-left: -4px;
">
                <div class="col">
                  <textarea class="item item-input focuss" style="width: 80%" type="text" rows="3" cols="50" ng-model="data.questions" placeholder="Enter Question"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="item item-input" ng-repeat="item in inputs track by $index" style="margin-right: 3px;margin-right: 3px;
    width: 152px;
    height: 36px;
    padding: 16px 0px 16px 0px;
">
                <input type="text" ng-model="inputs[$index]" placeholder="Options">
              </label>
              <button ng-click="addfield()" class="btn btn-danger" ng-show="radioadd" style="width: 29px;height: 34px;">
                +
              </button>&nbsp;
              <button ng-click="remove(item)" ng-show="radioadd" class="btn btn-danger" style="width: 29px;height: 34px;">-</button>
            </div>
            <button class="buttonColor shopbutton" ng-click="add(selectedName,selectedtype,data,selection,priority)" style="margin-right: 100px;">Submit</button>
          </form>
        </div>
        <div class="borderrighttable" ng-show="expression3">
          <div>
            <h3 class="headername">View Questions</h3></div>
          <input ng-model="search.shopname" placeholder="Shop Name" style="padding: 5px;border-radius: 5px;" />
          <div id="table-wrapper">
            <div id="table-scroll">
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>ShopName</th>
                    <th>Type</th>
                    <th>Question</th>
                    <th>Options</th>
                    <th>Priority</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in getshopdata | filter:search | orderBy:orderProp">
                    <td>{{$index + 1}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.shopname}}</td>
                    <td>{{item.selectedtype}}</td>
                    <td>{{item.questions}}</td>
                    <td> <span ng-if="item.options.length>2">{{item.options}}</span><span ng-if="item.options.length<=2"> Input Field</span></td>
                    <th>{{item.priority}}</th>
                    <td>
                      <i class="icon ion-edit" style="border: 1px solid #33cd5f;color: #33cd5f; padding: 1px 5px;     display: inline-block; width: 25px;height: 25px;" ng-click="shopadmin(item)"></i>
                      <i class="icon ion-trash-b" style="border: 1px solid #ef473a; color:#ef473a;padding: 1px 5px; display: inline-block;width: 25px; height: 25px;" ng-click="delect(item)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="borderrighttable" ng-show="expression4">
          <div>
            <h3 class="headername">View ShopsData</h3></div>
          <input ng-model="search.shopname" placeholder="Shop Name" style="padding: 5px;border-radius: 5px;" />
          <div id="table-wrapper">
            <div id="table-scroll">
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>ShopName</th>
                    <th>Type</th>
                    <th>Url</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in shopdatatype | filter:search | orderBy:orderProp">
                    <td>{{$index + 1}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.shopname}}</td>
                    <td>{{item.type}}</td>
                    <td style="width: 90px"><img src="{{item.url}}" width="80px" ; height="60px;"></td>
                    <td>
                      <i class="icon ion-edit" style="border: 1px solid #33cd5f; color: #33cd5f;  padding: 1px 5px;display: inline-block; width: 25px; height: 25px;" ng-click="shoptype(item)"></i>
                      <i class="icon ion-trash-b" style="border: 1px solid #ef473a; color:#ef473a; padding: 1px 5px;display: inline-block;width: 25px;height: 25px;" ng-click="delectshop(item)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="borderrighttable" ng-show="expression5">
          <div>
            <h3 class="headername">Walk-in Feedback</h3></div>
          <input ng-model="search.shopname" placeholder="Shop Name" style="padding: 5px;border-radius: 5px;" />
          <input ng-model="qn.ques" placeholder="Question" style="padding: 5px;border-radius: 5px;" />
          <div id="table-wrapper">
            <div id="table-scroll">
              <table>
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Customer</th>
                    <th>Shopname</th>
                    <th>Feedback</th>
                    <th>RM</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in feedbacks | filter:search | orderBy:orderProp">
                    <td>{{item.id}}</td>
                    <td>{{item.customer}}</td>
                    <td>{{item.shopname}}</td>
                    <td>
                      <p ng-repeat="items in item.feedback | filter:qn | orderBy:orderProp">{{items.ques}}&nbsp;&nbsp;<strong>{{items.ans}}</strong></p>
                    </td>
                    <td>{{item.rm}}</td>
                    <td>
                      <i class="icon ion-trash-b" ng-click="delectWalkIn(item)" style="border: 1px solid #ef473a; color:#ef473a;
                               padding: 1px 5px;display: inline-block; width: 25px;height: 25px;"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="borderrighttable" ng-show="expression6">
          <div>
            <h3 class="headername">Materialized Feedback</h3></div>
          <input ng-model="search.shopname" placeholder="Shop Name" style="padding: 5px;border-radius: 5px;" />
          <div id="table-wrapper">
            <div id="table-scroll">
              <table>
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Customer</th>
                    <th>Shopname</th>
                    <th>Feedback</th>
                    <th>RM</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in materialfeeds | filter:search | orderBy:orderProp">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.shopname}}</td>
                    <td>
                      <p ng-repeat="items in item.feedback">{{items.ques}}&nbsp;&nbsp;<strong>{{items.ans}}</strong></p>
                    </td>
                    <td>{{item.rm}}</td>
                    <td>
                      <i class="icon ion-trash-b" ng-click="delectMaterial(item)" style="border: 1px solid #ef473a; color:#ef473a;padding: 1px 5px;display: inline-block;
                           width: 25px;height: 25px;"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="borderrighttable" ng-show="expression7">
          <div>
            <h3 class="headername">Walkin Negative Feedback</h3></div>
          <input ng-model="search.shopname" placeholder="Shop Name" style="padding: 5px;border-radius: 5px;" />
          <input ng-model="qn.ques" placeholder="Question" style="padding: 5px;border-radius: 5px;" />
          <div id="table-wrapper">
            <div id="table-scroll">
              <table>
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Customer</th>
                    <th>Shopname</th>
                    <th>Feedback</th>
                    <th>RM</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in shopDetail | filter:search | orderBy:orderProp">
                    <td>{{item.id}}</td>
                    <td>{{item.customer}}</td>
                    <td>{{item.shopname}}</td>
                    <td>
                      <p ng-repeat="items in item.feedback | filter:qn | orderBy:orderProp">{{items.ques}}&nbsp;&nbsp;<strong>{{items.ans}}</strong></p>
                    </td>
                    <td>{{item.rm}}</td>
                    <td>
                      <i class="icon ion-trash-b" ng-click="delectWalkIn(item)" style="border: 1px solid #ef473a; color:#ef473a;
                      padding: 1px 5px;display: inline-block; width: 25px;height: 25px;"></i>
                    </td>
                  </tr>
                  <tr ng-repeat="item in  Materialdetails| filter:search | orderBy:orderProp">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.shopname}}</td>
                    <td>
                      <p ng-repeat="items in item.feedback | filter:qn | orderBy:orderProp">{{items.ques}}&nbsp;&nbsp;<strong>{{items.ans}}</strong></p>
                    </td>
                    <td>{{item.rm}}</td>
                    <td>
                      <i class="icon ion-trash-b" ng-click="delectMaterial(item)" style="border: 1px solid #ef473a; color:#ef473a;
                      padding: 1px 5px;display: inline-block; width: 25px;height: 25px;"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="borderrighttable" ng-show="expression8">
          <div>
            <h3 class="headername">Materialised Negatives Feedback</h3></div>
          <input ng-model="search.shopname" placeholder="Shop Name" style="padding: 5px;border-radius: 5px;" />
          <input ng-model="qn.ques" placeholder="Question" style="padding: 5px;border-radius: 5px;" />
          <div id="table-wrapper">
            <div id="table-scroll">
              <table>
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Customer</th>
                    <th>Shopname</th>
                    <th>Feedback</th>
                    <th>RM</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in  Materialdetails| filter:search | orderBy:orderProp">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.shopname}}</td>
                    <td>
                      <p ng-repeat="items in item.feedback | filter:qn | orderBy:orderProp">{{items.ques}}&nbsp;&nbsp;<strong>{{items.ans}}</strong></p>
                    </td>
                    <td>{{item.rm}}</td>
                    <td>
                      <i class="icon ion-trash-b" ng-click="delectMaterial(item)" style="border: 1px solid #ef473a; color:#ef473a;
                      padding: 1px 5px;display: inline-block; width: 25px;height: 25px;"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<script id="shopadmin.html" type="text/ng-template">
  <ion-modal-view class="walkinModel" style="    height: 70vh;
    width: 65%;
    margin: auto 20%;
    top: 10%;">
    <ion-content class="popupboder" overflow-scroll="false">
      <div class="list ">
        <form ng-submit="updatedata(duplicate)">
          <label class="item item-input item-stacked-label" style="margin-left: 5%;margin-top: 2%;margin-right: 5%;">
            <span class="input-label">Shopname</span>
            <input type="text" ng-model="duplicate.shopname" placeholder="John" ng-readonly="true">
          </label>
          <label class="item item-input item-stacked-label" style="margin-left: 5%;margin-right: 5%;">
            <span class="input-label">Question</span>
            <input type="text" ng-model="duplicate.questions" placeholder="Suhr">
          </label>
          <label class="item item-input item-stacked-label" ng-repeat="item in newdata track by $index" style="margin-left: 5%;margin-right: 5%;">
            <span class="input-label">options{{$index}}</span>
            <input type="text" ng-model="newdata[$index]" placeholder="options">
          </label>
          <label class="item item-input item-stacked-label" style="margin-left: 5%;margin-right: 5%;">
            <span class="input-label">Priority(Give Priority only "Yes" or "N0"</span>
            <input type="text" ng-model="duplicate.priority" ng-disabled="duplicate.options=='[]'" placeholder="options">
          </label>
          <button class="button button-assertive" style="float: right;margin-right: 10%;margin-top: 5%;">submit</button>
        </form>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
<script id="shopatype.html" type="text/ng-template">
  <ion-modal-view class="walkinModel" style="    height: 70vh;
    width: 65%;
    margin: auto 20%;
    top: 10%;">
    <ion-content class="popupboder" overflow-scroll="false">
      <div class="list ">
        <form ng-submit="shoptypeupdate(duplicate)">
          <label class="item item-input item-stacked-label" style="margin-left: 5%;margin-top: 5%;margin-right: 5%;">
            <span class="input-label">Shopname</span>
            <input type="text" ng-model="duplicate.shopname" placeholder="John">
          </label>
          <label class="item item-input item-stacked-label" style="margin-left: 5%;margin-right: 5%;">
            <span class="input-label">Types</span>
            <input type="text" ng-model="duplicate.type" placeholder="Question">
          </label>
          <label class="item item-input item-stacked-label" style="margin-left: 5%;margin-right: 5%;">
            <span class="input-label">Edit Image</span>
            <img src="{{duplicate.url}}" width="50px" ; height="50px;" ng-if="!duplicate.newUrl">
            <img ngf-src="duplicate.newUrl" ngf-accept="'image/*'" width="50px" ; height="50px;">
            <!-- <input type="text" ng-model="duplicate.url" placeholder="url"> -->
            <input type="file" ngf-select ng-model="duplicate.newUrl" accept="image/*" ngf-max-size="2MB">
          </label>
          <button class="button button-assertive" style="float: right;margin-right: 10%;margin-top: 5%;">submit</button>
        </form>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
