<ion-view hide-nav-bar='true' class="background">
  <ion-content class="survey80 ">
    <div>
      <img class="width" src="/img/Top Banner.jpg">
      <div class="adjust">
          <div class="marginbottom">
          <div class="card bgcolor" style="margin: 20% 6%;">
            <form ng-submit="selectAnswers(selectedtype)" name="form">
              <div style="    margin-bottom: -15px;" class="item item-text-wrap border0 bgcolor" ng-repeat="itemss in finalfeeds">
                <h3 ng-model="questions">{{itemss.qn}}</h3>
                <label class="radio-inline surveyfont" ng-repeat="radio in itemss.ans">
                  <input type="radio" name="selectedtype{{$parent.$index}}" value="{{radio}}~{{itemss.priority}}" ng-model="$parent.selectedtype[itemss.qn]" required="true" />&nbsp;{{radio}}
                </label>
                  <textarea type="textarea " class="walkinsurvey " style="width:100% " ng-model="$parent.selectedtype[itemss.qn] " required="true "  ng-if="itemss.ans.length==0">
                  </textarea>
              </div>
              <!-- {{selectedtype}} -->
              <span class="item item-input outline bgcolor">
                  <div class="col"></div>
                  <button ng-click="page1(form.$invalid)" ng-if="proceed" class="buttonColor floatright">Proceed > </button>
                  <button ng-click="page3(form.$invalid)" ng-if="!proceed" class="buttonColor floatright">Proceed > </button>
              </span>
            </form>
          </div>
        </div>
  </ion-content>
</ion-view>
