<ion-view hide-nav-bar='true' class="background">
  <ion-content class="width80">
    <div>
      <img class="width" src="/img/Top Banner.jpg">
      <div class="width60" ng-if="options.length == 0">
        <button class="buttonoption margin16">No Types Avaliable</button>
      </div>
      <div class="width60 optionmargin">
        <span ng-repeat="item in options track by $index" >
  <span ng-if="$index < options.length">
      <button  ng-click="selectOptionType(item)" class="buttonoption margin16">{{item}}</button>
  </span>
        <!-- <span ng-if="$index + 1 < options.length">          
                 <button  ng-click="showPopup(options[$index+1])" class="buttonoption margin16">{{options[$index+1]}}</button>
        </span> -->
        </span>
      </div>
  </ion-content>
</ion-view>
<script id="materialpopup.html" type="text/ng-template">
  <ion-modal-view class=" minheight  optionspopup bgcolor materialshowup" style="background-color: #dedede; padding-bottom: 18%;">
    <ion-content>
      <div class="list">
        <form ng-submit="Proceed(invoice)" name="myForm">
          <label class="item item-input materialmargin bgcolor">
            <span class="input-label inputimage margin0 ">Invoice No.:</span>
            <input class="borderpop" ng-minlength="10" 
                   ng-maxlength="10" ng-model="invoice" maxlength="10" name="invoice" type="text" placeholder="Enter Invoice Number" ng-required="true" >
          </label>
           <span class="error" 
                  ng-show="((myForm.invoice.$pristine || myForm.invoice.$error.minlength ||
                           myForm.invoice.$error.maxlength) && 
                           myForm.invoice.$dirty) ">
                           Invoice Number should be 10 digits
            </span>
          <button class="buttonColor floatright bgcolor">Proceed > </button>
        </form>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

   
                   