<!--        <form ng-submit="Submit();" name="form" role="form">
                <label class="btn btn-success">
                    Browse
                   
                <input type="file"  name="myfile"  ng-disabled="uploading" file-model="files.upload" ngf-select="submit($files, $invalidFiles)"
          accept="*" ngf-max-height="1000" ngf-max-size="1000MB">
     
      </label>


       <ul>
    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"  
            ng-bind="f.progress + '%'"></div>
      </span>
    </li>
    <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
    </li> 
  </ul>
  {{errorMsg}}
                <br>
                <br>
                <button ng-disabled="uploading" type="submit" class="btn btn-primary">Upload</button>
            </form> -->


<form name="myForm"  >
<h3>AngularJS Upload Multiple Files</h3>
Upload:
<input type="file" ngf-select ng-model="picFile" name="file" multiple accept="image/*" ngf-max-size="2MB" required
ngf-model-invalid="errorFile">
<i ng-show="myForm.file.$error.required">*required</i><br>
<i ng-show="myForm.file.$error.maxSize">File too large
{{errorFile.size / 1000000|number:1}}MB: max 2M</i>
<br>
<button ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Submit</button><br />
<span class="progress" ng-show="picFile.progress >= 0">
<div style="width:{{picFile.progress}}%"
ng-bind="picFile.progress + '%'"></div>
</span>
<span ng-show="picFile.result">Upload Successful</span>
<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
 </form>  